@media (max-width: 1500px)
  .page 
    .objects 
      &-slider 
        &-wrapper 
          //padding: 70px 35px
        &__item 
          // height: 290px
          // width: 290px 

    .order
      &-form-wrapper 
        .form 
          &-txt
          

          form
            // padding: 35px 20px 45px 20px

            

              // &:last-child 
              //   width: 54%

      .form-photo 
        margin-top: 40px
        img 
          width: 310px

          
  
  
  
  
@media (max-width: 1300px) 
  .page 
    .main 
      &-title 
        h1
          font-size: 46px
        &__part 
          font-size: 22px
      &-txt 
        &__block
          margin-top: 40px 
          .block
            &-img 
              display: none

            &-descr 
              margin-left: 0
    
    .services
      &-item
        &__title
          font-size: 15px
          width: 190px
          margin-left: -95px

        &s
          &__big
            .services-item__title   
              width: 424px  
              margin-left: -215px  

    .objects 
      &-slider 
        .slider-wrapper 
          padding: 70px 35px
        &__item 
          // height: 265px
          // width: 265px   
    .reviews
      &-slider 
        
        &__left
         
          img 
           
        &__right
          
          img 
          

        .slider-wrapper 
          
          padding: 40px

    .order-form-wrapper 
      .form
        //width: 80%
        &-phone 
          //margin-top: 20px 
        &-txt
          margin-left: 10px
          //margin-top: 20px
        form
          padding: 35px 20px 45px 20px
          //flex-direction: column
          fieldset.textarea
            //display: block

        

@media (max-width: 1199px) 
  .page 
    .objects 
      &-slider 
        .slider-wrapper 
          padding: 70px 35px
          .row 
            margin: 0 auto
        &__item 
          height: 295px
          width: 295px
          &:last-child 
            margin-top: 20px   
            .page 
      
          .slider-item__title
            margin-top: 90px

    .order
      &-form-wrapper 
        .form 
          &-txt
            margin-left: 0px
            margin-top: 20px
          

          &-phone 
            margin-top: 20px
          

          form
            flex-direction: column
            fieldset 
              width: 100%

            textarea 
              height: 150px
            


            

              // &:last-child 
              //   width: 54%

      .form-photo 
        position: absolute
        bottom: 70px
        right: 0
        img 
          width: 100%
        // display: none

    .reviews
      &-slider 
        
        &__left
         
          img 
           
        &__right
          
          img 

        &__item 
          
          &:last-child 
            
          

        .slider-wrapper 
          .row 
            .col-12 
              &:last-child 
                .reviews-slider__item 
                  display: none

          
        

@media (max-width: 991px) 
  .page 
    .main 
      padding: 0px 0px 50px 0px
      &-title 
        h1, &__part:last-child
          text-align: center
          margin-top: 5px
        &__part:first-child 
          line-height: 34px 

      &-img 
        display: none
      &-txt 
        text-align: center
        &__block
          margin-top: 40px 
          .block
            &-img 
              display: none

            &-descr 
              width: 100%
              margin-left: 0
              &__title 
                text-align: center
              &__subtitle 
                text-align: left
                margin-left: 120px
                margin-top: 5px
    .services 
      // padding: 50px 0px

    .objects 
      &-slider 
        .slider
          &-wrapper 
          &-item 
            &__title 
              margin-top: 110px
          // padding: 70px 35px
        &__item 
          height: 354px
          width: 354px
          &:last-child 
            // margin-top: 20px   

    .reasons
      &-rowone, &-rowtwo, &-rowthree
        &__item
          .item__title
            margin-top: 20px

    .order
      &-form-wrapper 
        .form 
          &-txt
            

          // &-phone 
          //   margin-top: 20px
          

          form
            //flex-direction: column
            padding: 35px
            

            

              // &:last-child 
              //   width: 54%

      .form-photo 
        display: none


@media (max-width: 767px) 
  .page 
    
    .main 
      padding: 0px 0px 50px 0px
      &-title 
        h1
          font-size: 40px
          text-align: center
          margin-top: 5px
        &__part
          font-size: 20px

      &-img 
        display: none
      &-txt 
        text-align: center
        &__block
          margin-top: 40px 
          .block
            &-img 
              display: none

            &-descr 
              width: 100%
              margin-left: 0
              &__title 
                text-align: center
              &__subtitle 
                text-align: left
                margin-left: 10px
                margin-top: 5px
                li 
                  margin-top: 5px

    .services
      &-item, &-items-big

        &__title, .services-item__title 
          
          width: 300px
          margin-left: -150px
    .reasons
      &-rowone, &-rowtwo, &-rowthree

        margin-top: 0px
        &__item
          margin-top: 40px
      &-rowone
        
      &-rowtwo 
      &-rowthree
        
          .item__title

    .order
      &-form-wrapper 
        .form 
          &-txt
            

          // &-phone 
          //   margin-top: 20px
          

          form
            //flex-direction: column
            padding: 25px 20px 35px 20px

            .form-button 
              left: 50%
              width: 195px
              margin-left: -95px

    .reviews
      &-slider
        &__right
          bottom: -20px
        &__left 
          top: -10px

        .slider-wrapper    
          padding: 15px


@media (max-width: 500px) 
  .page
    .main 
      .main-title
        h1 
          font-size: 35px
        &__part
          font-size: 18px

      .services

    .objects 
      &-slider 
        .slider
          &-wrapper 
            padding: 40px 15px
          &-item 
        
            &__title 
              margin-top: 65px

            &__button 
              margin-top: 50px
        &__item 
          height: 275px
          width: 275px
          
          &:last-child 
            margin-top: 20px   

        .arrow 
          img
            height: 30px

    .reviews
      &-slider
        &__right
          bottom: -40px
           
        &__left 
          top: -30px

        .arrow 
          img
            height: 30px

        &__item 
          padding: 20px 20px 45px 20px !important

          .slider-item 
            &__title 
              .title-txt
                margin-left: 20px !important

            &__descr 
              .descr-img 
                width: 100px !important
                height: 100px !important

            &__button 
              left: 50% !important
              margin-left: -97px !important

          //padding: 20px

@media (max-width: 380px) 
  body 
    .page
      .main 
        .main-title
          h1 
            font-size: 30px

          &__part 
            line-height: 34px

      
      .services
          
        &-item, &-items-big

          &__title, .services-item__title 
            
            width: 250px
            margin-left: -125px

      .objects 
        &-slider 
          .slider
            &-wrapper 
              padding: 40px 5px
            &-item 
              &__title 
                margin-top: 65px

              &__button 
                margin-top: 40px
          &__item 
            height: 250px
            width: 250px
            
            &:last-child 
              margin-top: 20px   

          .arrow 
            img
              height: 30px

    .footer 
      margin: 10px 0px 
      // padding: 20px 0px