*
  box-sizing: border-box
body 
  margin: 0
  padding: 0
  
  font-family: 'Roboto Mono', 'Helvetica', sans-serif
  font-size: 15px
  letter-spacing: 1.5px



  img 
    vertical-align: middle
    // margin: 0 auto



  .fixed-container
    max-width: 1660px

  .fixed-header
    position: fixed
    // bottom: 0
    top: 0
    margin: 0 auto
    margin-top: 10px
    // margin-left: 15px
    padding-right: 30px
    z-index: 100
    // height: 13.5vh 
    // min-height: 90px
    height: 90px
    // max-height: 130px
    // min-width: 91%
    width: 100%//calc(100% - 30px)//100%
    max-width: 1660px
    

    .header        
      margin-right: 20px
      margin-left: 20px
      height: 100%
      padding: 2vh 0px
      
      display: flex
      flex-direction: row
      
      align-items: center
      background-color: $dark
      // padding: 20px 40px 20px 40px 

      -webkit-box-shadow: 0px 0px 25px 0px rgba(05,05,05,1) //55,55,56,1
      -moz-box-shadow: 0px 0px 25px 0px rgba(05,05,05,1)
      box-shadow: 0px 0px 25px 0px rgba(05,05,05,1)

     
      .menu
        &-mobile
          display: none

      // &-wrapper
      //   height: 100%
      
      &-logo 
        width: 200px//16%
        text-align: center
        padding-right: 2.3%
        a
          color: $white
          font-weight: bold
          text-transform: uppercase
          text-decoration: none
          &:hover 
            text-decoration: underline
      
      
      &-contacts
        display: flex
        flex-direction: row
        // justify-content: space-between
        align-items: baseline
        width: 45%
        justify-content: space-between
        // padding: 0 60px 0 0px

      &-hidden 
        width: 12%

      &-other
        width: 27%
        display: flex
        flex-direction: row
        // justify-content: space-between
        align-items: center
        justify-content: space-between

      

      &-phones, &-address, &-mail 
        display: inline-block
        &__top 
          font-family: 'Russo One'
          font-size: 15px
          color: $white
          text-align: left
          div 
            display: inline-block

          

          

        &__bottom 
          font-size: 14px
          color: $white
          letter-spacing: 0.5px

    
      &-phones
        &__top
          img 
            width: 20px
        &__bottom 
          margin-top: 3px
        
        
      &-address
        margin-left: 10px
        &__top
          img 
            height: 19px
        &__bottom
          margin-top: 6px
          line-height: 16px
        
      
      &-mail 
        // margin-left: 10%
        margin-top: 2px
        &__top
          img 
            width: 20px
        &__bottom 
          margin-top: 3px

      &-search 
        // display: flex
        width: 85%
        
        
        height: 50px
        position: relative
        input
          height: 50px
          border: 2px solid #0096ff
          // margin-top: auto
          // margin-bottom: auto
          width: 100%//300px
          background-color: transparent
          padding-left: 20px
          padding-right: 20px
          color: $white
          
          
        a 
          display: block
          position: absolute
          top: 13px
          right: 32px 
          img 
            
            width: 20px


      &-vk 
        text-align: center
        width: 15%
        
        img 
          height: 23px

      &-padding 
        width: 20px
  
  .fixed-menu
    height: 82.5vh
    max-height: 900px
    margin-top: 110px
    width: 200px
    margin-left: 20px
    
    // max-width: 15.5%
    // min-width: 195px
    
    // width: 15.5%
    // max-width: 250px //15.5%
    // width: 200px
    // max-width: 16.666667%
    z-index: 100
    position: fixed

    .menu
      margin-bottom: 10px
      // &-mobile
      //   display: none
      &-desktop
        background-color: #050505
        padding: 3vh 0px
        // display: flex
        // flex-direction: column
        // align-content: space-between
        // justify-content: space-between
        text-align: center
        height: 100%

        -webkit-box-shadow: 0px 0px 25px 0px rgba(05,05,05,1) //55,55,56,1
        -moz-box-shadow: 0px 0px 25px 0px rgba(05,05,05,1)
        box-shadow: 0px 0px 25px 0px rgba(05,05,05,1)
        
        

        &-item
          text-align: center
          height: 15.3vh //(82.5 - 3 - 3) / 5
          max-height: 165px
          display: flex
          flex-direction: column
          align-content: space-around
          justify-content: center
          // padding: 3vh 0
          // margin-bottom: 3vh
          &:last-child 
            // margin-bottom: 0
          &__icon
            // height: 6vh
            img 
              max-height: 5vh
          &__txt
            margin-top: 10px
            padding: 0px 10px
            a
              color: $white
              font-family: 'Russo One', 'san-serif'
              font-size: 15px
              text-decoration: none
              text-transform: uppercase
              &:hover 
                color: $blue

            span
              display: block
              width: fit-content
              margin: 0 auto
              
                

          &.active, &.current
            background-color: $white
            -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.55)
            -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.55)
            box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.55)
            transition: .3s all
            a 
              color: $dark
              border-bottom: 2px solid $blue
              font-size: 16px
              transition: .3s all
            span
              border-bottom: 2px solid $blue
              margin-top: 5px
              transition: .3s all


  .page
    padding-top: 0
    width: 100%
    max-width: 1660px
    margin: 0 auto
    position: relative
    height: 100% 


    // .empty, .content 
    //   // display: flex
    //   // flex-direction: row


    /************* CONTENT ***********/

    .content 
      padding-left: 225px//16%
      padding-right: 20px


    /******* SECTIONS *******/

    .section 
      padding: 70px 0px
      position: relative
      
      .title 
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        h2, h1 
          margin: 0
          font-family: 'Russo One'
          font-size: 30px
          color: $dark
          text-align: left
          text-transform: uppercase

        img
          height: 70px
          // -webkit-box-shadow: 0px 0px 34px 0px rgba(05,05,05,1) //55,55,56,1
          // -moz-box-shadow: 0px 0px 34px 0px rgba(05,05,05,1)
          // box-shadow: 0px 0px 34px 0px rgba(05,05,05,1) 
      &-first 
        padding-top: 150px !important
      &-dark
        padding: 75px 0px
        
        &::before 
          content: ''
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0
          background-color: $dark
          opacity: .6
        .title
          h2, h1 
            color: $white
            font-size: 29px 


    /*********** BUTTONS *********/
    .button
    



      display: inline-block
      // margin: 0 auto
      
      // bottom: -31px
      // right: 31px
      

      button, a
        width: 100%
        padding: 17px 0px
        padding-right: 35px
        display: block
        margin: 0 auto
        text-decoration: none
        font-family: Russo One
        font-size: 14px
        text-transform: uppercase
        color: $white
        text-align: center
        letter-spacing: 1px
        background-color: $dark//rgba(0,0,0,.85)
        // opacity: .7

        border: 2px solid $blue
        &:hover 
          color: $blue
          cursor: pointer
          transition: color .3s

        


      .img-tool 
        height: 23px
        width: 23px
        position: absolute
        top: 16px
        right: 25px 
        background-size: cover !important
        &.gray 
          background: url('../images/tool-gray.png') center no-repeat

        &.blue
          background: url('../images/tool-blue.png') center no-repeat
        
        &.white 
          background: url('../images/tool-white.png') center no-repeat

      &-c
        &.active
          button, a
            background-color: $blue
            color: $white
            transition: .3s all
          .img-tool
            background: url('../images/tool-white.png') center no-repeat
            transition: .3s all

      &-w 
        &.active
          button, a
            background-color: $blue !important
            color: $white !important
            
            transition: .3s all
            border: 2px solid $blue !important
          .img-tool
            background: url('../images/tool-white.png') center no-repeat
            transition: .3s all
            
  /*** arrows ***/
  .arrow
    img 
      &:hover
        cursor: pointer

    &.active
      img 
        // height: 30px  
        width: 30px
        transition: .4s all
        



  /******   PAGINATOR *******/
  .reviews-main, .objects
    &-paginator 
  
    .paginator
      &-left, &-center, &-right
        
        &__wrapper 
          width: 30% 

        &__digit
          background-color: $blue
          height: 70px
          width: 70px 
          display: inline-block
          text-decoration: none
          &:hover 
            cursor: pointer

          &.active
            background-color: $dark
            transition: .3s all
            

      &-left
        &__wrapper
          text-align: right
        &__digit
          position: relative
          img 
            position: absolute
            top: 23px
            left: 25px
            height: 25px
          

      &-center
        &__wrapper
          text-align: center
        &__digit
          color: $white
          font-family: Russo One
          font-size: 30px
          padding-top: 18px
          

          &.active,&.current
            background-color: $dark

          &:first-child
            margin-right: 15%
      
      &-right
        &__wrapper
          text-align: left
        &__digit
          position: relative
          img 
            position: absolute
            top: 23px
            left: 30px
            height: 25px

      &.active 
        background-color: $dark






  /************* FOOOTER ***********/
  .footer
    margin: 20px 20px 10px 20px
    height: 8.5vh
    // line-height: 4.5vh
    min-height: 70px
    
    background-color: $dark 
    padding: 22px 20px 22px 16% 
    -webkit-box-shadow: 0px 0px 25px 0px rgba(05,05,05,1) //55,55,56,1
    -moz-box-shadow: 0px 0px 25px 0px rgba(05,05,05,1)
    box-shadow: 0px 0px 25px 0px rgba(05,05,05,1)

    &-copyright 
      color: $white
      padding-left: 30px
      text-align: left
      font-size: 14px
  

    &-politics
      text-align: right
      // padding-right: 20px
      a
        text-decoration: none
        color: $white
        font-size: 14px
        &:hover 
          color: $blue
          text-decoration: underline




