body 
  margin: 0
  padding: 0
  font-family: 'Roboto Mono', 'Helvetica', sans-serif
  font-size: 15px
  letter-spacing: 2px

  img 
    vertical-align: middle
    // margin: 0 auto

  .page
    // padding-top: 15px
    max-width: 1620px
    margin: 0 auto
    position: relative
    height: 100% 


    // .empty, .content 
    //   // display: flex
    //   // flex-direction: row


    /************* CONTENT ***********/

    .content 
      padding-left: 16%
      padding-right: 20px

    .section 
      padding: 75px 0px
      
      .title 
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        h2 
          margin: 0
          font-family: 'Russo One'
          font-size: 30px
          color: $dark
          text-align: left
          text-transform: uppercase

        img
          -webkit-box-shadow: 0px 0px 34px 0px rgba(05,05,05,1) //55,55,56,1
          -moz-box-shadow: 0px 0px 34px 0px rgba(05,05,05,1)
          box-shadow: 0px 0px 34px 0px rgba(05,05,05,1) 

      &-white
        .title
          h2 
            color: $white
            font-size: 29px 


      




    /************* FOOOTER ***********/
    .footer
      margin: 20px 0px
      background-color: $dark 
      padding: 32px 40px 32px 40px 
      -webkit-box-shadow: 0px 0px 34px 0px rgba(05,05,05,1) //55,55,56,1
      -moz-box-shadow: 0px 0px 34px 0px rgba(05,05,05,1)
      box-shadow: 0px 0px 34px 0px rgba(05,05,05,1)

      &-copyright 
        color: $white
        padding-left: 30px
        text-align: left
    

      &-politics
        text-align: right
        padding-right: 20px
        color: $white




