* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', 'Helvetica', sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
  /************* FOOOTER ***********/
}

body img {
  vertical-align: middle;
}

body .fixed-header {
  position: fixed;
  top: 0;
  margin-top: 1vh;
  z-index: 100;
  height: 13.5vh;
  min-height: 90px;
}

body .fixed-header .header {
  height: 100%;
  padding: 2vh 20px 2vh 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #050505;
  -webkit-box-shadow: 0px 0px 25px 0px #050505;
  box-shadow: 0px 0px 25px 0px #050505;
}

body .fixed-header .header-wrapper {
  height: 100%;
}

body .fixed-header .header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 55%;
}

body .fixed-header .header-other {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .fixed-header .header-logo {
  width: 16%;
  text-align: center;
  padding-right: 2.3%;
}

body .fixed-header .header-logo a {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

body .fixed-header .header-logo a:hover {
  text-decoration: underline;
}

body .fixed-header .header-phones, body .fixed-header .header-address, body .fixed-header .header-mail {
  display: inline-block;
}

body .fixed-header .header-phones__top div, body .fixed-header .header-address__top div, body .fixed-header .header-mail__top div {
  display: inline-block;
  font-family: 'Russo One';
  font-size: 15px;
  color: #ffffff;
  text-align: left;
}

body .fixed-header .header-phones__bottom, body .fixed-header .header-address__bottom, body .fixed-header .header-mail__bottom {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.5px;
}

body .fixed-header .header-phones__top img {
  width: 20px;
}

body .fixed-header .header-phones__bottom {
  margin-top: 3px;
}

body .fixed-header .header-address {
  margin-left: 12%;
}

body .fixed-header .header-address__top img {
  height: 19px;
}

body .fixed-header .header-address__bottom {
  margin-top: 6px;
  line-height: 16px;
}

body .fixed-header .header-mail {
  margin-left: 10%;
  margin-top: 2px;
}

body .fixed-header .header-mail__top img {
  width: 20px;
}

body .fixed-header .header-mail__bottom {
  margin-top: 3px;
}

body .fixed-header .header-search {
  height: 55px;
  position: relative;
}

body .fixed-header .header-search input {
  height: 55px;
  border: 2px solid #0096ff;
  width: 300px;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

body .fixed-header .header-search a {
  display: block;
  position: absolute;
  top: 13px;
  right: 32px;
}

body .fixed-header .header-search a img {
  width: 20px;
}

body .fixed-header .header-vk {
  text-align: center;
}

body .fixed-header .header-vk img {
  height: 30px;
}

body .fixed-menu {
  height: 82.5vh;
  max-height: 82.5vh;
  margin-top: 16vh;
  max-width: 15.5%;
  min-width: 195px;
  z-index: 100;
  position: fixed;
}

body .fixed-menu .menu {
  background-color: #050505;
  padding: 3vh 0px;
  text-align: center;
  height: 100%;
  -webkit-box-shadow: 0px 0px 25px 0px #050505;
  box-shadow: 0px 0px 25px 0px #050505;
}

body .fixed-menu .menu-item {
  text-align: center;
  height: 15.3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .fixed-menu .menu-item__icon img {
  max-height: 5vh;
}

body .fixed-menu .menu-item__txt {
  margin-top: 10px;
  padding: 0px 10px;
}

body .fixed-menu .menu-item__txt a {
  color: #ffffff;
  font-family: 'Russo One', 'san-serif';
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

body .fixed-menu .menu-item__txt a:hover {
  color: #0096ff;
}

body .fixed-menu .menu-item__txt span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

body .fixed-menu .menu-item.active {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
}

body .fixed-menu .menu-item.active a {
  color: #050505;
  border-bottom: 2px solid #0096ff;
  font-size: 16px;
}

body .fixed-menu .menu-item.active span {
  border-bottom: 2px solid #0096ff;
  margin-top: 5px;
}

body .page {
  padding-top: 0;
  max-width: 1660px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  /************* CONTENT ***********/
  /******* SECTIONS *******/
  /*********** BUTTONS *********/
}

body .page .content {
  padding-left: 16%;
  padding-right: 20px;
}

body .page .section {
  padding: 70px 0px;
  position: relative;
}

body .page .section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page .section .title h2, body .page .section .title h1 {
  margin: 0;
  font-family: 'Russo One';
  font-size: 30px;
  color: #050505;
  text-align: left;
  text-transform: uppercase;
}

body .page .section .title img {
  height: 70px;
}

body .page .section-first {
  padding-top: 170px !important;
}

body .page .section-dark {
  padding: 75px 0px;
}

body .page .section-dark::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}

body .page .section-dark .title h2, body .page .section-dark .title h1 {
  color: #ffffff;
  font-size: 29px;
}

body .page .button {
  display: inline-block;
}

body .page .button button, body .page .button a {
  width: 100%;
  padding: 17px 0px;
  padding-right: 35px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-family: Russo One;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  background-color: #050505;
  border: 2px solid #0096ff;
}

body .page .button button:hover, body .page .button a:hover {
  color: #0096ff;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

body .page .button img {
  height: 23px;
  position: absolute;
  top: 16px;
  right: 25px;
}

body .footer {
  margin: 20px 0px 1vh 0px;
  height: 8.5vh;
  min-height: 70px;
  background-color: #050505;
  padding: 22px 40px 22px 16%;
  -webkit-box-shadow: 0px 0px 25px 0px #050505;
  box-shadow: 0px 0px 25px 0px #050505;
}

body .footer-copyright {
  color: #ffffff;
  padding-left: 30px;
  text-align: left;
}

body .footer-politics {
  text-align: right;
  padding-right: 20px;
}

body .footer-politics a {
  text-decoration: none;
  color: #ffffff;
}

body .footer-politics a:hover {
  color: #0096ff;
  text-decoration: underline;
}

.page {
  /************* SERVICES ***********/
}

.page .main {
  padding: 0px 0px 75px 0px;
  background: #050505 url("../images/index/main/main.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.page .main::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .5;
}

.page .main-title h1 {
  color: #ffffff;
  font-family: 'Russo One', 'san-serif';
  font-size: 48px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  margin-top: 20px;
}

.page .main-title__part {
  font-size: 24px;
  display: block;
  margin-top: 25px;
  text-align: center;
}

.page .main-title__part:last-child {
  text-align: right;
}

.page .main-txt {
  color: #ffffff;
}

.page .main-txt a {
  color: #0096ff;
  text-decoration: none;
}

.page .main-txt a:hover {
  text-decoration: underline;
}

.page .main-txt__title {
  font-weight: 500;
}

.page .main-txt__descr {
  margin-top: 25px;
}

.page .main-txt__block {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page .main-txt__block .block-img {
  border: 2px solid #0096ff;
  -webkit-box-shadow: 0px 0px 34px 0px #050505;
  box-shadow: 0px 0px 34px 0px #050505;
}

.page .main-txt__block .block-descr {
  margin-left: 30px;
}

.page .main-txt__block .block-descr ul {
  list-style: none;
}

.page .main-txt__block .block-descr ul li {
  list-style: none;
}

.page .main-img {
  text-align: right;
  margin-top: 30px;
}

.page .main-img img {
  width: 80%;
  border: 2px solid #0096ff;
  -webkit-box-shadow: 0px 0px 34px 0px #050505;
  box-shadow: 0px 0px 34px 0px #050505;
}

.page .services {
  background-color: #ffffff;
}

.services {
  background: url("../images/index/services/services-back.png") no-repeat center;
}

.services-items {
  margin-top: 50px;
}

.services-items__big, .services-items__small {
  width: 100%;
}

.services-items__big {
  height: 215px;
  background-color: #050505;
  position: relative;
  background-image: url("../images/index/services/service-big.jpeg");
}

.services-items__big::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}

.services-items__small {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-items__small .item-small {
  width: 32%;
  height: 200px;
  background-color: #050505;
  background-image: url("../images/index/services/service-small.jpeg");
  display: inline-block;
  position: relative;
}

.services-items__small .item-small::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}

.services-items .item-small__title, .services-items .item-big__title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Russo One;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #0096ff;
}

.services-items .item-big__title {
  width: 444px;
  padding: 20px 0px;
  margin-top: -40px;
  margin-left: -220px;
}

.services-items .item-small__title {
  padding: 20px 0px;
  width: 210px;
  margin-top: -40px;
  margin-left: -105px;
}

.objects {
  background: url("../images/index/objects/objects-back.jpeg") no-repeat center;
  background-size: cover;
}

.objects-slider {
  position: relative;
  margin-top: 35px;
}

.objects-slider__left {
  position: absolute;
  left: 0;
  top: 0;
}

.objects-slider__left img {
  height: 37px;
}

.objects-slider__right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.objects-slider__right img {
  height: 37px;
}

.objects-slider__item {
  height: 354px;
  width: 354px;
  background-color: #050505;
  background: url("../images/index/objects/arena.jpeg");
  display: inline-block;
  position: relative;
  text-align: center;
}

.objects-slider__item::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .4;
}

.objects-slider__item .slider-item__title {
  font-family: Russo One;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  max-width: 207px;
  background-color: rgba(0, 150, 255, 0.9);
  padding: 20px 30px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
}

.objects-slider__item .slider-item__button {
  position: relative;
  margin-top: 60px;
  width: 205px;
}

.objects-slider .slider-wrapper {
  text-align: center;
  padding: 70px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.objects-slider .slider-wrapper .objects-slider__item.active-item::after {
  display: none;
}

.objects-slider .slider-wrapper .objects-slider__item.active-item .slider-item__button {
  position: relative;
}

.reasons {
  background: url("../images/index/reasons/reasons-back.png") no-repeat center;
}

.reasons-rowone__item, .reasons-rowtwo__item, .reasons-rowthree__item {
  display: inline-block;
  text-align: center;
}

.reasons-rowone {
  margin-top: 70px;
}

.reasons-rowone__item {
  width: 49%;
}

.reasons-rowone__item:first-child {
  padding-right: 20%;
}

.reasons-rowone__item:last-child {
  padding-left: 20%;
}

.reasons-rowone__item .item__title {
  margin-top: 35px;
  font-family: Russo One;
  font-size: 20px;
  color: #050505;
}

.reasons-rowtwo {
  margin-top: 50px;
}

.reasons-rowtwo__item {
  width: 99%;
}

.reasons-rowtwo__item .item__title {
  margin-top: 35px;
  font-family: Russo One;
  font-size: 20px;
  color: #050505;
}

.reasons-rowthree {
  margin-top: 50px;
}

.reasons-rowthree__item {
  width: 49%;
}

.reasons-rowthree__item:first-child {
  padding-right: 20%;
}

.reasons-rowthree__item:last-child {
  padding-left: 20%;
}

.reasons-rowthree__item .item__title {
  margin-top: 35px;
  font-family: Russo One;
  font-size: 18px;
  color: #050505;
}

.reviews {
  background: url("../images/index/reviews/reviews-back.jpeg") no-repeat center;
  background-size: cover;
}

.reviews-slider {
  position: relative;
  margin-top: 35px;
}

.reviews-slider__left {
  position: absolute;
  left: 0;
  top: 0;
}

.reviews-slider__left img {
  height: 37px;
}

.reviews-slider__right {
  position: absolute;
  right: 0;
  bottom: -10px;
}

.reviews-slider__right img {
  height: 37px;
}

.reviews .slider-wrapper {
  text-align: center;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews .slider-wrapper .reviews-slider__item {
  width: 500px;
  border: 2px solid #0096ff;
  position: relative;
  padding: 28px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
}

.reviews .slider-wrapper .reviews-slider__item .slider-item {
  position: relative;
}

.reviews .slider-wrapper .reviews-slider__item .slider-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reviews .slider-wrapper .reviews-slider__item .slider-item__title .title-img {
  display: inline-block;
}

.reviews .slider-wrapper .reviews-slider__item .slider-item__title .title-img img {
  height: 25px;
}

.reviews .slider-wrapper .reviews-slider__item .slider-item__title .title-txt {
  display: inline-block;
  text-transform: uppercase;
  font-family: Russo One;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin-left: 105px;
}

.reviews .slider-wrapper .reviews-slider__item .slider-item__descr {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

.reviews .slider-wrapper .reviews-slider__item .slider-item__descr .descr-img {
  display: inline-block;
  border: 2px solid #0096ff;
  width: 118px;
  height: 118px;
  background-color: #050505;
}

.reviews .slider-wrapper .reviews-slider__item .slider-item__descr .descr-txt {
  display: inline-block;
  font-family: Roboto Mono;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin-left: 20px;
}

.reviews .slider-wrapper .reviews-slider__item .slider-item__button {
  margin: 0 auto;
  position: absolute;
  bottom: -31px;
  right: 31px;
  width: 195px;
}

.order {
  background: url("../images/index/order/order-back.png") no-repeat center;
}

.order-subtitle {
  margin-top: 30px;
  font-family: Roboto Mono;
  font-size: 15px;
}

.order-form-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-form-wrapper .form {
  margin-top: 40px;
}

.order-form-wrapper .form form {
  padding: 35px 30px 45px 30px;
  border: 2px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.order-form-wrapper .form form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form-wrapper .form form input, .order-form-wrapper .form form textarea {
  width: 330px;
  border: 2px solid #dddddd;
  display: block;
  margin-top: 12px;
}

.order-form-wrapper .form form input {
  height: 55px;
  padding: 0px 20px;
}

.order-form-wrapper .form form label {
  display: block;
}

.order-form-wrapper .form-phone {
  margin-top: 40px;
}

.order-form-wrapper .form-txt {
  margin-left: 30px;
}

.order-form-wrapper .form-txt textarea {
  padding: 15px 0px 20px 20px;
  height: 182px;
  resize: none;
}

.order-form-wrapper .form-button {
  margin: 0 auto;
  position: absolute;
  bottom: -31px;
  right: 31px;
  width: 195px;
}

.order-form-wrapper .form-button button {
  background-color: #ffffff !important;
  color: #050505 !important;
  border: 2px solid #dddddd !important;
}

.order-form-wrapper .form-photo {
  border: 2px solid #0096ff;
}

.objects-descr {
  font-family: Roboto Mono;
  font-size: 15px;
  color: #050505;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 50px;
}

.objects-grid {
  position: relative;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.objects-grid__item {
  height: 354px;
  width: 30%;
  background-color: #050505;
  background: url("../images/index/objects/arena.jpeg");
  display: inline-block;
  position: relative;
  text-align: center;
}

.objects-grid__item::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .4;
}

.objects-grid__item .grid-item__title {
  font-family: Russo One;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  max-width: 207px;
  background-color: rgba(0, 150, 255, 0.9);
  padding: 20px 30px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
}

.objects-grid__item .grid-item__button {
  position: relative;
  margin-top: 60px;
  width: 205px;
}

.objects-grid .grid-wrapper {
  text-align: center;
  padding: 70px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.objects-grid .grid-wrapper .objects-grid__item.active-item::after {
  display: none;
}

.objects-grid .grid-wrapper .objects-grid__item.active-item .grid-item__button {
  position: relative;
}

.objects-paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.objects-paginator .paginator-left__wrapper, .objects-paginator .paginator-center__wrapper, .objects-paginator .paginator-right__wrapper {
  width: 30%;
}

.objects-paginator .paginator-left__digit, .objects-paginator .paginator-center__digit, .objects-paginator .paginator-right__digit {
  background-color: #0096ff;
  height: 70px;
  width: 70px;
  display: inline-block;
  text-decoration: none;
}

.objects-paginator .paginator-left__digit:hover, .objects-paginator .paginator-center__digit:hover, .objects-paginator .paginator-right__digit:hover {
  cursor: pointer;
}

.objects-paginator .paginator-left__wrapper {
  text-align: right;
}

.objects-paginator .paginator-left__digit {
  position: relative;
}

.objects-paginator .paginator-left__digit img {
  position: absolute;
  top: 23px;
  left: 25px;
  height: 25px;
}

.objects-paginator .paginator-center__wrapper {
  text-align: center;
}

.objects-paginator .paginator-center__digit {
  color: #ffffff;
  font-family: Russo One;
  font-size: 30px;
  padding-top: 18px;
}

.objects-paginator .paginator-center__digit.active {
  background-color: #050505;
}

.objects-paginator .paginator-center__digit:first-child {
  margin-right: 15%;
}

.objects-paginator .paginator-right__wrapper {
  text-align: left;
}

.objects-paginator .paginator-right__digit {
  position: relative;
}

.objects-paginator .paginator-right__digit img {
  position: absolute;
  top: 23px;
  left: 30px;
  height: 25px;
}

.services {
  background: url("../images/index/services/services-back.png") no-repeat center;
}

.services-grid {
  margin-top: 30px;
}

.services-grid__big, .services-grid__small {
  width: 100%;
}

.services-grid__big {
  height: 215px;
  background-color: #050505;
  position: relative;
  background-image: url("../images/index/services/service-big.jpeg");
}

.services-grid__big::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}

.services-grid__small {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-grid__small .item-small {
  width: 32%;
  height: 200px;
  background-color: #050505;
  background-image: url("../images/index/services/service-small.jpeg");
  display: inline-block;
  position: relative;
}

.services-grid__small .item-small::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}

.services-grid .item-small__title, .services-grid .item-big__title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Russo One;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #0096ff;
}

.services-grid .item-big__title {
  width: 444px;
  padding: 20px 0px;
  margin-top: -40px;
  margin-left: -220px;
}

.services-grid .item-small__title {
  padding: 20px 0px;
  width: 210px;
  margin-top: -40px;
  margin-left: -105px;
}

.services-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
}

.services-descr__one, .services-descr__two {
  display: inline-block;
  font-family: Roboto Mono;
  font-size: 15px;
}

.services-descr__one {
  width: 45%;
}

.services-descr__one .descr-one__txt ul {
  margin-top: 20px;
  list-style: none;
}

.services-descr__one .descr-one__txt ul li {
  list-style: none;
}

.services-descr__one .descr-one__txt ul li img {
  height: 13px;
}

.services-descr__two {
  width: 54%;
}

.services-descr__two .descr-two__txt {
  margin-bottom: 40px;
}

.contacts {
  background: url("../images/index/order/order-back.png") no-repeat center;
}

.contacts-left {
  width: 65%;
  display: inline-block;
}

.contacts-right {
  width: 34%;
  display: inline-block;
  text-align: right;
}

.contacts-right__photo {
  padding-top: 20px;
}

.contacts-right__photo img {
  border: 2px solid #0096ff;
}

.contacts-subtitle {
  margin-top: 20px;
  font-family: Roboto Mono;
  font-size: 15px;
  margin-bottom: 40px;
}

.contacts-part {
  margin-bottom: 30px;
  width: 49%;
  display: inline-block;
}

.contacts-part__phone, .contacts-part__email, .contacts-part__mode, .contacts-part__address {
  font-size: 16px;
}

.contacts-part__phone span, .contacts-part__email span, .contacts-part__mode span, .contacts-part__address span {
  text-decoration: underline;
  font-weight: bold;
}

.contacts-part__phone, .contacts-part__mode {
  margin-bottom: 30px;
}

.contacts-form-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-form-wrapper .form {
  margin-top: 40px;
}

.contacts-form-wrapper .form form {
  padding: 35px 30px 45px 30px;
  border: 2px solid #0096ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.contacts-form-wrapper .form form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.contacts-form-wrapper .form form input, .contacts-form-wrapper .form form textarea {
  width: 330px;
  border: 2px solid #0096ff;
  display: block;
  margin-top: 12px;
}

.contacts-form-wrapper .form form input {
  height: 55px;
  padding: 0px 20px;
}

.contacts-form-wrapper .form form label {
  display: block;
}

.contacts-form-wrapper .form-phone {
  margin-top: 40px;
}

.contacts-form-wrapper .form-txt {
  margin-left: 30px;
}

.contacts-form-wrapper .form-txt textarea {
  padding: 15px 0px 20px 20px;
  height: 182px;
  resize: none;
}

.contacts-form-wrapper .form-button {
  margin: 0 auto;
  position: absolute;
  bottom: -31px;
  right: 31px;
  width: 195px;
}

.contacts-form-wrapper .form-button button {
  background-color: #ffffff !important;
  color: #050505 !important;
  border: 2px solid #0096ff !important;
}

.reviews-main {
  background: url("../images/reviews/reviews-back.png") no-repeat center;
}

.reviews-main-descr {
  font-family: Roboto Mono;
  font-size: 15px;
  color: #050505;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 50px;
}

.reviews-main-grid {
  position: relative;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-main-grid__item {
  padding: 30px;
  width: 655px;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  display: inline-block;
  position: relative;
  text-align: left;
}

.reviews-main-grid__item .grid-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.reviews-main-grid__item .grid-item__top .item-top__img {
  text-align: center;
  padding: 18px 40px;
  -webkit-box-shadow: 0px 0px 25px 0px #dddddd;
  box-shadow: 0px 0px 25px 0px #dddddd;
}

.reviews-main-grid__item .grid-item__top .item-top__txt {
  margin-top: 20px;
  margin-left: 21px;
}

.reviews-main-grid__item .grid-item__top .item-top__title {
  font-family: Russo One;
  font-size: 20px;
  color: #0096ff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.reviews-main-grid__item .grid-item__top .item-top__subtitle {
  margin-top: 16px;
  font-family: Russo One;
  font-size: 18px;
  color: #050505;
}

.reviews-main-grid__item .grid-item__bottom {
  margin-top: 21px;
}

.reviews-main-grid .grid-wrapper {
  text-align: center;
  padding: 70px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-main-grid .grid-wrapper .objects-grid__item.active-item::after {
  display: none;
}

.reviews-main-grid .grid-wrapper .objects-grid__item.active-item .grid-item__button {
  position: relative;
}

.reviews-main-paginator {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-main-paginator .paginator-left__wrapper, .reviews-main-paginator .paginator-center__wrapper, .reviews-main-paginator .paginator-right__wrapper {
  width: 30%;
}

.reviews-main-paginator .paginator-left__digit, .reviews-main-paginator .paginator-center__digit, .reviews-main-paginator .paginator-right__digit {
  background-color: #0096ff;
  height: 70px;
  width: 70px;
  display: inline-block;
  text-decoration: none;
}

.reviews-main-paginator .paginator-left__digit:hover, .reviews-main-paginator .paginator-center__digit:hover, .reviews-main-paginator .paginator-right__digit:hover {
  cursor: pointer;
}

.reviews-main-paginator .paginator-left__wrapper {
  text-align: right;
}

.reviews-main-paginator .paginator-left__digit {
  position: relative;
}

.reviews-main-paginator .paginator-left__digit img {
  position: absolute;
  top: 23px;
  left: 25px;
  height: 25px;
}

.reviews-main-paginator .paginator-center__wrapper {
  text-align: center;
}

.reviews-main-paginator .paginator-center__digit {
  color: #ffffff;
  font-family: Russo One;
  font-size: 30px;
  padding-top: 18px;
}

.reviews-main-paginator .paginator-center__digit.active {
  background-color: #050505;
}

.reviews-main-paginator .paginator-center__digit:first-child {
  margin-right: 15%;
}

.reviews-main-paginator .paginator-right__wrapper {
  text-align: left;
}

.reviews-main-paginator .paginator-right__digit {
  position: relative;
}

.reviews-main-paginator .paginator-right__digit img {
  position: absolute;
  top: 23px;
  left: 30px;
  height: 25px;
}

.about {
  background: url("../images/about/about-back.png") center no-repeat;
}

.about-left, .about-right {
  display: inline-block;
  text-align: left;
}

.about-left {
  width: 50%;
}

.about-left__descr {
  margin-top: 30px;
}

.about-left__lists {
  padding: 10px 70px 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-left__lists ul {
  padding-left: 0;
  list-style: none;
}

.about-left__lists ul li {
  margin-top: 5px;
}

.about-left__lists ul li img {
  width: 14px;
  display: inline-block;
}

.about-left__lists::last-child() ul li {
  margin-bottom: 10px;
}

.about-left__photo {
  margin-top: 15px;
}

.about-left__photo img {
  width: 90%;
}

.about-right {
  width: 49%;
}

.about-right__descr {
  margin-bottom: 45px;
}

.about-right__lists ul {
  list-style: none;
}

.about-right__photo {
  margin-bottom: 50px;
  text-align: right;
}

.about-right__photo img {
  width: 100%;
}

.anobject {
  background: #050505 url("../images/services/anobject/anobject-back.jpeg") center no-repeat;
  position: relative;
}

.anobject__path, .anobject__subtitle, .anobject__descr {
  font-family: Roboto Mono, san-serif;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}

.anobject__title {
  font-family: Russo One, san-serif;
  font-size: 32px;
  color: #ffffff;
  text-align: left;
}

.anobject__subtitle {
  font-size: 15px;
}

.anobject__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 26px;
}

.anobject__descr {
  font-size: 15px;
  margin-left: 33px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.anobject__descr .descr-lists {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.anobject__descr .descr-lists ul {
  list-style: none;
  padding-left: 20px;
}

.anobject__descr .descr-lists ul li img {
  width: 14px;
  display: inline-block;
}

.anobject__descr .descr-lists ul li div {
  display: inline-block;
}

.anobject__descr .descr-volume, .anobject__descr .descr-time, .anobject__descr .descr-year, .anobject__descr .descr-review {
  margin-bottom: 22px;
}

.anobject__descr .descr-volume:last-child, .anobject__descr .descr-time:last-child, .anobject__descr .descr-year:last-child, .anobject__descr .descr-review:last-child {
  margin-bottom: 0;
}

.anobject__descr .descr-volume span, .anobject__descr .descr-time span, .anobject__descr .descr-year span, .anobject__descr .descr-review span {
  font-weight: bold;
  font-size: 16px;
  color: #2e96e0;
  text-decoration: underline;
}

.anobject-stages__first .stages-item__left, .anobject-stages__first .stages-item__right, .anobject-stages__second .stages-item__left, .anobject-stages__second .stages-item__right, .anobject-stages__third .stages-item__left, .anobject-stages__third .stages-item__right, .anobject-stages__fourth .stages-item__left, .anobject-stages__fourth .stages-item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.anobject-stages__first .stages-item__digit, .anobject-stages__second .stages-item__digit, .anobject-stages__third .stages-item__digit, .anobject-stages__fourth .stages-item__digit {
  min-width: 130px;
  height: 130px;
  background-color: #2da9ff;
  color: #ffffff;
  font-family: Russo One, san-serif;
  font-size: 72px;
  text-align: center;
  padding-top: 25px;
  -webkit-box-shadow: 0px 0px 10px 0px #0096ff;
  box-shadow: 0px 0px 10px 0px #0096ff;
}

.anobject-stages__first .stages-item__txt, .anobject-stages__second .stages-item__txt, .anobject-stages__third .stages-item__txt, .anobject-stages__fourth .stages-item__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.anobject-stages__first .stages-item__title, .anobject-stages__second .stages-item__title, .anobject-stages__third .stages-item__title, .anobject-stages__fourth .stages-item__title {
  margin-top: 10px;
  font-family: Russo One, san-serif;
  color: #2da9ff;
  text-transform: uppercase;
  font-size: 22px;
}

.anobject-stages__first .stages-item__descr, .anobject-stages__second .stages-item__descr, .anobject-stages__third .stages-item__descr, .anobject-stages__fourth .stages-item__descr {
  margin-top: 18px;
  font-size: 16px;
  color: #050505;
}

.anobject-stages__first .stages-item__slider .slider-item, .anobject-stages__second .stages-item__slider .slider-item, .anobject-stages__third .stages-item__slider .slider-item, .anobject-stages__fourth .stages-item__slider .slider-item {
  width: 110px;
  height: 110px;
  margin-bottom: 5px;
  position: relative;
}

.anobject-stages__first .stages-item__slider .slider-item::before, .anobject-stages__second .stages-item__slider .slider-item::before, .anobject-stages__third .stages-item__slider .slider-item::before, .anobject-stages__fourth .stages-item__slider .slider-item::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}

.anobject-stages__first .stages-item__slider .slider-item.active, .anobject-stages__second .stages-item__slider .slider-item.active, .anobject-stages__third .stages-item__slider .slider-item.active, .anobject-stages__fourth .stages-item__slider .slider-item.active {
  border: 2px solid #2da9ff;
}

.anobject-stages__first .stages-item__slider .slider-item.active::before, .anobject-stages__second .stages-item__slider .slider-item.active::before, .anobject-stages__third .stages-item__slider .slider-item.active::before, .anobject-stages__fourth .stages-item__slider .slider-item.active::before {
  opacity: 0;
}

.anobject-stages__first .stages-item__slider .slider-item img, .anobject-stages__second .stages-item__slider .slider-item img, .anobject-stages__third .stages-item__slider .slider-item img, .anobject-stages__fourth .stages-item__slider .slider-item img {
  width: 100%;
}

.anobject-stages__first .stages-item__photo, .anobject-stages__second .stages-item__photo, .anobject-stages__third .stages-item__photo, .anobject-stages__fourth .stages-item__photo {
  width: 502px;
  height: 340px;
  margin-left: 9px;
  border: 2px solid #2da9ff;
}

.anobject-stages__first .stages-item__photo img, .anobject-stages__second .stages-item__photo img, .anobject-stages__third .stages-item__photo img, .anobject-stages__fourth .stages-item__photo img {
  width: 100%;
}

.anobject-stages__first, .anobject-stages__third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
}

.anobject-stages__first .stages-item__left, .anobject-stages__third .stages-item__left {
  width: 45%;
}

.anobject-stages__first .stages-item__right, .anobject-stages__third .stages-item__right {
  width: 54%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.anobject-stages__second, .anobject-stages__fourth {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.anobject-stages__second .stages-item__left, .anobject-stages__fourth .stages-item__left {
  width: 54%;
  margin-left: 60px;
}

.anobject-stages__second .stages-item__right, .anobject-stages__fourth .stages-item__right {
  width: 45%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.anobject-stages .modal-button {
  display: block;
  margin-top: 100px;
  text-align: center;
}

.anobject-stages .modal-button .button {
  position: relative;
}

.anobject-stages .modal-button .button button {
  background-color: #ffffff;
  color: #050505;
  padding: 20px 45px 16px 20px;
  border-color: #2da9ff;
}

.anobject-stages .modal-button .button img {
  right: 20px;
  top: 19px;
}

.aservice-main {
  padding: 0px 0px 95px 0px !important;
  background: #050505 url("../images/index/main/main.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.aservice-main-title h1 {
  color: #ffffff;
  font-family: 'Russo One', 'san-serif';
  font-size: 30px;
  margin-top: 20px;
}

.aservice-main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}

.aservice-main__left, .aservice-main__right {
  color: #ffffff;
  font-family: 'Roboto Mono', 'san-serif';
}

.aservice-main__left {
  width: 49%;
}

.aservice-main__left .main-left__list {
  list-style: none;
}

.aservice-main__left .main-left__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.aservice-main__left .main-left__list li img {
  width: 14px;
  height: 14px;
}

.aservice-main__left .main-left__list li div {
  margin-left: 10px;
}

.aservice-main__right {
  width: 50%;
  padding-left: 20px;
}

.aservice-main__right .main-right__txt:last-child {
  margin-top: 35px;
}

.aservice-objects {
  background: url("../images/services/aservice/aservice-objects-back.png") center no-repeat;
}

.aservice-objects-slider {
  position: relative;
  margin-top: 35px;
}

.aservice-objects-slider__left {
  position: absolute;
  left: 35px;
  top: -10px;
}

.aservice-objects-slider__left img {
  height: 37px;
}

.aservice-objects-slider__right {
  position: absolute;
  right: 35px;
  bottom: 0;
}

.aservice-objects-slider__right img {
  height: 37px;
}

.aservice-objects-slider__left:hover, .aservice-objects-slider__right:hover {
  cursor: pointer;
}

.aservice-objects-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aservice-objects-slider__item .slider-item__title {
  font-family: Russo One;
  font-size: 22px;
  color: #0096ff;
  text-align: left;
  text-transform: uppercase;
}

.aservice-objects-slider__item .slider-item__txt {
  margin-left: 25px;
  margin-top: 10px;
}

.aservice-objects-slider__item .slider-item__descr {
  margin-top: 18px;
  text-align: left;
}

.aservice-objects-slider__item .slider-item__button {
  position: relative;
  margin-top: 27px;
  display: block !important;
  width: 205px;
}

.aservice-objects-slider .aservice-slider-wrapper {
  margin-top: 10px;
  text-align: center;
  padding: 50px 95px 50px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aservice-objects-slider .aservice-slider-wrapper .aservice-objects-slider__item:last-child {
  margin-left: 30px;
}

.aservice-objects-slider .aservice-slider-wrapper .aservice-objects-slider__item.active-item::after {
  display: none;
}

.aservice-objects-slider .aservice-slider-wrapper .aservice-objects-slider__item.active-item .slider-item__button {
  position: relative;
}

.aservice-order {
  background: url("../images/services/aservice/aservice-order-back.jpeg") no-repeat center;
}

.aservice-order-subtitle {
  margin-top: 30px;
  font-family: Roboto Mono;
  font-size: 15px;
  color: #ffffff;
}

.aservice-order-form-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aservice-order-form-wrapper .form {
  margin-top: 40px;
}

.aservice-order-form-wrapper .form form {
  padding: 35px 30px 45px 30px;
  border: 2px solid #0096ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.aservice-order-form-wrapper .form form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.aservice-order-form-wrapper .form form input, .aservice-order-form-wrapper .form form textarea {
  width: 330px;
  border: 2px solid #0096ff;
  display: block;
  margin-top: 12px;
  background-color: #050505;
}

.aservice-order-form-wrapper .form form input {
  height: 55px;
  padding: 0px 20px;
}

.aservice-order-form-wrapper .form form label {
  display: block;
  color: #ffffff;
}

.aservice-order-form-wrapper .form-phone {
  margin-top: 40px;
}

.aservice-order-form-wrapper .form-txt {
  margin-left: 30px;
}

.aservice-order-form-wrapper .form-txt textarea {
  padding: 15px 0px 20px 20px;
  height: 182px;
  resize: none;
}

.aservice-order-form-wrapper .form-button {
  margin: 0 auto;
  position: absolute;
  bottom: -31px;
  right: 31px;
  width: 195px;
}

.aservice-order-form-wrapper .form-button button {
  color: #ffffff !important;
  border: 2px solid #0096ff !important;
}

.aservice-order-form-wrapper .form-photo {
  border: 2px solid #0096ff;
}
/*# sourceMappingURL=styles.css.map */