body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', 'Helvetica', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

body img {
  vertical-align: middle;
}

body .page {
  max-width: 1620px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  /************* CONTENT ***********/
  /************* FOOOTER ***********/
}

body .page .content {
  padding-left: 16%;
  padding-right: 20px;
}

body .page .section {
  padding: 70px 0px;
}

body .page .section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page .section .title h2 {
  margin: 0;
  font-family: 'Russo One';
  font-size: 30px;
  color: #050505;
  text-align: left;
  text-transform: uppercase;
}

body .page .section-dark {
  padding: 75px 0px;
}

body .page .section-dark .title h2 {
  color: #ffffff;
  font-size: 29px;
}

body .page .footer {
  margin: 20px 0px;
  background-color: #050505;
  padding: 32px 40px 32px 40px;
  -webkit-box-shadow: 0px 0px 34px 0px #050505;
  box-shadow: 0px 0px 34px 0px #050505;
}

body .page .footer-copyright {
  color: #ffffff;
  padding-left: 30px;
  text-align: left;
}

body .page .footer-politics {
  text-align: right;
  padding-right: 20px;
  color: #ffffff;
}

.fixed-header {
  position: fixed;
  top: 0;
  margin-top: 1.5vh;
  z-index: 100;
  height: 13.5vh;
  min-height: 90px;
  max-height: 130px;
}

.fixed-header .header {
  height: 100%;
  padding: 2vh 20px 2vh 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #050505;
  -webkit-box-shadow: 0px 0px 34px 0px #050505;
  box-shadow: 0px 0px 34px 0px #050505;
}

.fixed-header .header-wrapper {
  height: 100%;
}

.fixed-header .header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 55%;
}

.fixed-header .header-other {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fixed-header .header-logo {
  width: 16%;
}

.fixed-header .header-phones, .fixed-header .header-address, .fixed-header .header-mail {
  display: inline-block;
}

.fixed-header .header-phones__top div, .fixed-header .header-address__top div, .fixed-header .header-mail__top div {
  display: inline-block;
  font-family: 'Russo One';
  font-size: 15px;
  color: #ffffff;
  text-align: left;
}

.fixed-header .header-phones__bottom, .fixed-header .header-address__bottom, .fixed-header .header-mail__bottom {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.fixed-header .header-phones__top img {
  width: 20px;
}

.fixed-header .header-phones__bottom {
  margin-top: 3px;
}

.fixed-header .header-address {
  margin-left: 80px;
}

.fixed-header .header-address__top img {
  height: 19px;
}

.fixed-header .header-address__bottom {
  margin-top: 6px;
  line-height: 16px;
}

.fixed-header .header-mail {
  margin-left: 70px;
  margin-top: 2px;
}

.fixed-header .header-mail__top img {
  width: 20px;
}

.fixed-header .header-mail__bottom {
  margin-top: 3px;
}

.fixed-header .header-search {
  height: 45px;
  position: relative;
}

.fixed-header .header-search input {
  height: 45px;
  border: 2px solid #0096ff;
  width: 300px;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.fixed-header .header-search img {
  position: absolute;
  top: 13px;
  right: 32px;
  width: 20px;
}

.fixed-header .header-vk {
  text-align: center;
}

.fixed-header .header-vk img {
  height: 30px;
}

.fixed-menu {
  height: 82vh;
  margin-top: 16.5vh;
  max-width: 15.5%;
  z-index: 100;
  position: fixed;
}

.fixed-menu .menu {
  background-color: #050505;
  padding: 5vh 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 100%;
  -webkit-box-shadow: 0px 0px 34px 0px #050505;
  box-shadow: 0px 0px 34px 0px #050505;
}

.fixed-menu .menu-item__icon img {
  max-height: 5vh;
}

.fixed-menu .menu-item__txt {
  margin-top: 10px;
  color: #ffffff;
  font-family: 'Russo One', 'san-serif';
  font-size: 16px;
}

.page {
  /************* SERVICES ***********/
}

.page .main {
  padding: 100px 0px 75px 0px;
  background: #050505 url("../images/main/main.jpg") center no-repeat;
  position: relative;
}

.page .main::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}

.page .main-title {
  margin-top: 35px;
}

.page .main-title h1 {
  color: #ffffff;
  font-family: 'Russo One', 'san-serif';
  font-size: 48px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.page .main-title__part {
  font-size: 24px;
  display: block;
  margin-top: 25px;
  text-align: center;
}

.page .main-title__part:last-child {
  text-align: right;
}

.page .main-txt {
  color: #ffffff;
}

.page .main-txt__title {
  font-weight: 500;
}

.page .main-txt__descr {
  margin-top: 25px;
}

.page .main-txt__block {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page .main-txt__block .block-img {
  border: 2px solid #0096ff;
  -webkit-box-shadow: 0px 0px 34px 0px #050505;
  box-shadow: 0px 0px 34px 0px #050505;
}

.page .main-txt__block .block-descr {
  margin-left: 30px;
}

.page .main-txt__block .block-descr ul {
  list-style: none;
}

.page .main-txt__block .block-descr ul li {
  list-style: none;
}

.page .main-img {
  text-align: right;
  margin-top: 30px;
}

.page .main-img img {
  width: 80%;
  border: 2px solid #0096ff;
  -webkit-box-shadow: 0px 0px 34px 0px #050505;
  box-shadow: 0px 0px 34px 0px #050505;
}

.page .services {
  background-color: #ffffff;
}

.services {
  background: url("../images/services/services-back.png") no-repeat center;
}

.services-items {
  margin-top: 50px;
}

.services-items__big, .services-items__small {
  width: 100%;
}

.services-items__big {
  height: 215px;
  background-color: #050505;
  position: relative;
  background-image: url("../images/services/service-bg.jpg");
}

.services-items__big::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}

.services-items__small {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-items__small .item-small {
  width: 32%;
  height: 200px;
  background-color: #050505;
  background-image: url("../images/services/service-bg.jpg");
  display: inline-block;
  position: relative;
}

.services-items__small .item-small::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}

.services-items .item-small__title, .services-items .item-big__title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Russo One;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #0096ff;
}

.services-items .item-big__title {
  width: 444px;
  padding: 20px 0px;
  margin-top: -40px;
  margin-left: -220px;
}

.services-items .item-small__title {
  padding: 20px 0px;
  width: 210px;
  margin-top: -40px;
  margin-left: -105px;
}

.objects {
  background: url("../images/objects/objects-back.jpeg") no-repeat center;
  position: relative;
}

.objects::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}

.objects-slider {
  position: relative;
  margin-top: 35px;
}

.objects-slider__left {
  position: absolute;
  left: 0;
  top: 0;
}

.objects-slider__left img {
  height: 37px;
}

.objects-slider__right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.objects-slider__right img {
  height: 37px;
}

.objects-slider__item {
  height: 354px;
  width: 354px;
  background-color: #050505;
  background: url("../images/objects/arena.jpeg");
  display: inline-block;
  position: relative;
  text-align: center;
}

.objects-slider__item::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .4;
}

.objects-slider__item .slider-item__title {
  font-family: Russo One;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  max-width: 207px;
  background-color: rgba(0, 150, 255, 0.9);
  padding: 20px 30px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 120px;
}

.objects-slider__item .slider-item__button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 60px;
  position: relative;
  width: 205px;
}

.objects-slider__item .slider-item__button button {
  width: 100%;
  padding: 20px 0px;
  padding-right: 35px;
  display: block;
  margin: 0 auto;
  font-family: Russo One;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.85);
  border: 2px solid #0096ff;
}

.objects-slider__item .slider-item__button button:hover {
  color: #0096ff;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.objects-slider__item .slider-item__button img {
  position: absolute;
  top: 17px;
  right: 25px;
}

.objects-slider .slider-wrapper {
  text-align: center;
  padding: 70px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.objects-slider .slider-wrapper .objects-slider__item.active-item::after {
  display: none;
}

.objects-slider .slider-wrapper .objects-slider__item.active-item .slider-item__button {
  position: relative;
}

.reasons {
  background: url("../images/reasons/reasons-back.png") no-repeat center;
}

.reasons-rowone__item, .reasons-rowtwo__item, .reasons-rowthree__item {
  display: inline-block;
  text-align: center;
}

.reasons-rowone {
  margin-top: 70px;
}

.reasons-rowone__item {
  width: 49%;
}

.reasons-rowone__item:first-child {
  padding-right: 20%;
}

.reasons-rowone__item:last-child {
  padding-left: 20%;
}

.reasons-rowone__item .item__title {
  margin-top: 35px;
  font-family: Russo One;
  font-size: 20px;
  color: #050505;
}

.reasons-rowtwo {
  margin-top: 50px;
}

.reasons-rowtwo__item {
  width: 99%;
}

.reasons-rowtwo__item .item__title {
  margin-top: 35px;
  font-family: Russo One;
  font-size: 20px;
  color: #050505;
}

.reasons-rowthree {
  margin-top: 50px;
}

.reasons-rowthree__item {
  width: 49%;
}

.reasons-rowthree__item:first-child {
  padding-right: 20%;
}

.reasons-rowthree__item:last-child {
  padding-left: 20%;
}

.reasons-rowthree__item .item__title {
  margin-top: 35px;
  font-family: Russo One;
  font-size: 18px;
  color: #050505;
}

.reviews {
  background: url("../images/reviews/reviews-back.jpeg") no-repeat center;
  position: relative;
}

.reviews::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: .6;
}
/*# sourceMappingURL=styles.css.map */